<div class="row">
  <div class="col-lg-6">
    <div class="well bs-component">
<%= form_for @word, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>

    
    <div class="form-group">
      <label for="text" class="col-lg-2 control-label">Text</label>
      <div class="col-lg-10">
        <!--<input type="text" class="form-control" id="text" placeholder="Text">-->
        <%= f.text_field :text, {:class=>'form-control'} %>
      </div>
    </div>
        
    <div class="form-group">
      <label for="natural_language" class="col-lg-2 control-label">Language</label>
      <div class="col-lg-10">
        <%= f.select( :natural_language_id , options_from_collection_for_select( @natural_languages, :id, :name, @word.natural_language.id ), {:prompt=>'—'}, {:class=>'form-control'}) %>        
      </div>
    </div>
    
    <div class="form-group">
      <label for="word_type" class="col-lg-2 control-label">Word Type</label>
      <div class="col-lg-10">
        <%= f.select( :word_type_id , options_from_collection_for_select( @word_types, :id, :name, @word.word_type.id ), {:prompt=>'—'}, {:class=>'form-control'}) %>        
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= link_to 'Cancel', words_path, class: "btn btn-default"%>
        <%= submit_tag "Submit", {:class=>'btn btn-primary'} %>
      </div>
    </div>
    
  </fieldset>
<% end %>

</div></div></div>
